

.subscribe-form-wrapper {
  padding: 6px;
  border: 1px solid #BDCFEA;
  min-height: 54px;
  border-radius: 30px;
  width: 100%;

  input[type=text] {
    border: none;
    width: 100%;
    margin: 0 0 0 8px;
    padding: 10px 6px 6px 6px;

    &:focus {
      outline: none;
    }
  }
}

@media (pointer: coarse) and (hover: none) {
  .subscribe-form-wrapper {
    border-radius: 20px 20px 30px 30px;
    border: none;
    padding: 0;

    input[type=text] {
      padding: 20px 6px 18px 6px;
      border-bottom: 1px solid #BDCFEA;
      margin-bottom: 15px;
    }
  }
}